<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>appTitle</key>
  <string>Hello World</string>
  <key>fontSize</key>
  <string>30.0</string>
  <key>alwaysDarkMode</key>
  <string>false</string>
</dict>
</plist>